<div class="datosHijo">
  <h2>Datos del Hijo</h2>
  <span>Nombre:</span><b>{{ nombreHijo }}</b><br/>
  <span>Apellido Paterno:</span><b>{{ apePaternoHijo }}</b><br/>
  <span>Apellido Materno:</span><b>{{ apeMaternoHijo }}</b><br/>

  <!-- <div>
    <h5>Enviar saludo</h5>
    <label for="messageForDad" >Escribe algo:</label>
    <input id="messageForDad" [(ngModel)]="message" />
    <button (click)="sendMessage()" >Enviar mensaje</button>
  </div> -->

  <div>
    <label for="entrada">Envía un mensaje a tu padre:</label>
    <input type="text" id="entrada" [(ngModel)]="mensaje" >
    <button type="button" (click)="enviarMensaje()" >Enviar mensaje al padre</button>
  </div>
</div>
