<div class="datosPadre">
  <h1>Datos del PADRE</h1>
  <span>Nombre:</span><b>{{ nombrePadre }}</b><br/>
  <span>Apellido Paterno:</span><b>{{ apPaternoPadre }}</b><br/>
  <span>Apellido Materno:</span><b>{{ apMaternoPadre }}</b><br/>


  <app-hijo (mensajeDesdeHijo)="resivedMessaFronChield($event)" ></app-hijo>
  <h4>Mensaje recibido desde el hijo es: {{mensajeRecibido}} </h4>

  <!--<app-hijo
  [apePaternoHijo]="establecerApellidoPaterno()"
  [apeMaternoHijo]="establecerApellidoMaterno()"
  [recibeHijo]="mensajeDelPadre"
  />-->
</div>

<!-- <div class="HijoDice">
  <p [RecibeHijo]="msgForDad" ></p>
</div> -->



<!--
<app-contador/>
-->

